<!-- <app-board></app-board> -->
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nostrum tenetur sequi numquam, eveniet officiis earum nihil, magnam quasi cum unde voluptatem itaque delectus dolore, maiores necessitatibus enim debitis voluptatibus!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nostrum tenetur sequi numquam, eveniet officiis earum nihil, magnam quasi cum unde voluptatem itaque delectus dolore, maiores necessitatibus enim debitis voluptatibus!</p>

<div style="border: 1px solid black; display: block; width: 500px; height: 200px;" id="box">
    <div class="myBox" cdkDrag cdkDragBoundary="#box" (cdkDragMoved)="moved($event)">
      Test
    </div>
</div>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nostrum tenetur sequi numquam, eveniet officiis earum nihil, magnam quasi cum unde voluptatem itaque delectus dolore, maiores necessitatibus enim debitis voluptatibus!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus blanditiis similique commodi ducimus minus, molestias quis. Id natus eligendi sed rerum, totam quae sint expedita ratione quo, deserunt fuga at.</p>

    