<div class="container">
    <div class="row">
      <div class="col col-md-4"
          cdkDropList
          (cdkDropListDropped)="onDrop($event)"
          [cdkDropListData]="toDoTasks"
          #toDoList="cdkDropList"
          [cdkDropListConnectedTo]="[inProgressList, doneList]">
        <h2 class="heading">TO DO</h2>
        <div *ngFor="let task of toDoTasks"
            cdkDrag>
          <app-task [task]="task"></app-task>
        </div>
      </div>
  
      <div class="col col-md-4"
          cdkDropList
          (cdkDropListDropped)="onDrop($event)"
          [cdkDropListData]="inProgressTasks"
          #inProgressList="cdkDropList"
          [cdkDropListConnectedTo]="[toDoList, doneList]">
        <h2 class="heading">IN PROGRESS</h2>
        <div *ngFor="let task of inProgressTasks"
            cdkDrag>
          <app-task [task]="task"></app-task>
        </div>
      </div>
  
      <div class="col col-md-4"
          cdkDropList
          (cdkDropListDropped)="onDrop($event)"
          [cdkDropListData]="doneTasks"
          #doneList="cdkDropList"
          [cdkDropListConnectedTo]="[inProgressList, toDoList]">
        <h2 class="heading">DONE</h2>
        <div *ngFor="let task of doneTasks"
            cdkDrag
            [cdkDragDisabled]="task ==='FLX-222'">
          <app-task [task]="task"></app-task>
        </div>
      </div>
    </div>
  </div>
  
  <div class="mt-5">
      <button (click)="refreshToDo()" class="btn btn-dark">Reset ToDo list</button>
  </div>